apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minecraft
  namespace: minecraft-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
    spec:
      containers:
        - name: minecraft
          image: itzg/minecraft-server@sha256:730bebfb27fa17e0d5ed0315bf47eb50b4f90a746e199409268534b15cfbadc4
          ports:
            - containerPort: 25565
          env:
            - name: EULA
              value: "true"
            - name: TYPE 
              value: "fabric"
            - name: VERSION
              value: "1.20.1"
            - name: UID 
              value: "0"
            - name: GID
              value: "0"
            - name: MODRINTH_PROJECTS
              value: |
                create-fabric
                lithium
                fabric-api
                bellsandwhistles
                double-doors
                collective
                jei:9FYfyBM7
                player-locator-plus
                cloth-config
                terralith
                biomes-o-plenty:eZaag2ca
                terrablender:J1S3aA8i
                glitchcore:25HLOiOl
                enchancement:mGY2pNFa
                tooltipfix
                open-parties-and-claims:p5VIVxkt
                forge-config-api-port
                
              
            - name: MAX_MEMORY
              value: "5G"
          livenessProbe:
            exec:
              command:
                - mc-monitor
                - status
              initialDelaySeconds: 10
              periodSeconds: 10
          startupProbe:
            exec:
              command:
                - mc-monitor
                - status
              initialDelaySeconds: 10
              periodSeconds: 10
              failureThreshold: 5

          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data
        
