apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: adventofcode-app
  annotations:
    configmap.reloader.stakater.com/reload: frontend-config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/kubeside/images/adventofcode@sha256:3f7606a11acbf853658f1aabf7030a0bb548cc6b947536f146d46affb55dbfb9
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config
              mountPath: /var/www/html/config.json
              subPath: config.json
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: frontend-config
            items:
              - key: config.json
                path: config.json
        
        
